[submodule "sudoku"]
	path = sudoku
	url = https://github.com/HarshuCogSci/sudoku
[submodule "visualizing-fourier"]
	path = visualizing-fourier
	url = https://github.com/HarshuCogSci/visualizing-fourier
[submodule "thermodynamics"]
	path = thermodynamics
	url = https://github.com/HarshuCogSci/thermodynamics
[submodule "mohr-circle"]
	path = mohr-circle
	url = https://github.com/HarshuCogSci/mohr-circle
