[submodule "sudoku"]
	path = sudoku
	url = https://github.com/HarshuCogSci/sudoku
[submodule "visualizing-fourier"]
	path = visualizing-fourier
	url = https://github.com/HarshuCogSci/visualizing-fourier
[submodule "thermodynamics"]
	path = thermodynamics
	url = https://github.com/HarshuCogSci/thermodynamics
[submodule "mohr-circle"]
	path = mohr-circle
	url = https://github.com/HarshuCogSci/mohr-circle
[submodule "explorables"]
	path = explorables
	url = https://github.com/HarshuCogSci/explorables
[submodule "dynamic_algebra"]
	path = dynamic_algebra
	url = https://github.com/HarshuCogSci/dynamic_algebra
[submodule "non-linear-dynamics"]
	path = non-linear-dynamics
	url = https://github.com/HarshuCogSci/non-linear-dynamics
[submodule "chess-with-help"]
	path = chess-with-help
	url = https://github.com/HarshuCogSci/chess-with-help
[submodule "buffons-needle-experiment"]
	path = buffons-needle-experiment
	url = https://github.com/Rishabh-D/buffons-needle-experiment
